{% extends "core/base.html" %}
{% load i18n %}

{% block title %}{% trans "Η Επαναφορά Κωδικού Ολοκληρώθηκε" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h2>{% trans "Η Επαναφορά Κωδικού Ολοκληρώθηκε" %}</h2>
                </div>
                <div class="card-body">
                    <p class="alert alert-success">{% trans "Ο κωδικός πρόσβασής σας έχει αλλάξει επιτυχώς. Μπορείτε τώρα να συνδεθείτε με τον νέο σας κωδικό." %}</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'login' %}" class="btn btn-primary">{% trans "Σύνδεση" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}