{% extends "core/base.html" %}
{% block title %}Αλλαγή Κωδικού Πρόσβασης{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header"><h4>Αλλαγή Κωδικού Πρόσβασης</h4></div>
                <div class="card-body">
                    <p>Παρακαλώ εισάγετε τον παλιό σας κωδικό, και στη συνέχεια τον νέο σας κωδικό δύο φορές.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Αποθήκευση Νέου Κωδικού</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}