{% autoescape off %}
Έχετε ζητήσει επαναφορά κωδικού πρόσβασης για τον λογαριασμό σας που σχετίζεται με το email {{ email }} στο {{ site_name }}.

Παρακαλώ κάντε κλικ στον παρακάτω σύνδεσμο για να ορίσετε έναν νέο κωδικό πρόσβασης:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Αν δεν ζητήσατε εσείς αυτή την επαναφορά, παρακαλώ αγνοήστε αυτό το email.

Ο σύνδεσμος θα παραμείνει ενεργός για περιορισμένο χρονικό διάστημα.

Ευχαριστούμε,
Η ομάδα του {{ site_name }}
{% endautoescape %}